<section class="hero is-medium is-link">
  <div class="hero-body">
    <p class="title">
      Search For A Giph
    </p>
    <p class="subtitle">
      title
    </p>
      <div class="input-group">
        <input class="input" type="text" placeholder="Text input" [(ngModel)]="searchInput">
        <button type="button" (click)="onClickMe(searchInput)" class="btn btn-outline-primary">search</button>
      </div>
  </div>
</section>
    <div class="tile is-ancestor">
      <div *ngIf="this.url">
        <div class="tile is-parent " >
          <div class="columns is-multiline is-one-quarter-desktop">
          <div class="tile is-child box is-3 is-vertical has-background-danger" *ngFor="let product of this.url">

              <img  src="{{product}}">
          </div>
          </div>
        </div>
      </div>
    </div>
